html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-app='app', ng-controller='mainCtrl')
        selector(values="items" model="selectedItem" model-value="name" max-items="2")
        button(ng-click="addNewItem()")
        <!-- inject:js -->
        <!-- endinject -->

